<h1>Your order information is</h1>
<p>User: <%= @order.user.name %></p>
<p>Lemonaid: <%= @order.lemonaid.name %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Subtotal: <%= @order.subtotal %></p>
<p>Tax: <%= @order.tax %></p>
<p>Total: <%= @order.total %></p>

