<h2>Lemonaid type: <%= @lemonaid.name %></h2>
<h2>Lemonaid price: <%= @lemonaid.price %></h2>
<h2>Lemonaid image: <%= @lemonaid.image %></h2>
<h2>Lemonaid discription: <%= @lemonaid.discription %></h2>

<%= link_to "Destroy this lemonaid (this works!)", "/lemonaids/#{@lemonaid.id}", method: :delete %>